*{
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    margin-left: 50px;
    width: 93vw;
}

main {
    display: flex;
    position: sticky;
    top:0 ; bottom: 100;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
  }

#active {
    background-color: #f2f2f2;
    color: black;
    width: 150%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}